.login-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-wrapper {
  margin: 0px;
  padding: 10px;
  height: 100vh;
  background: url("../../assets/images/Environmental_Cleanliness.gif") no-repeat center center fixed;
  background-size: cover;
}

/* Responsive Design for Tablets (1024px & 768px) */
@media (max-width: 1024px) {
  .login-container {
      width: 90%;
      max-width: 350px;
      margin: 30px auto;
      padding: 15px;
  }
}

@media (max-width: 768px) {
  .login-container {
      width: 90%;
      max-width: 320px;
      margin: 20px auto;
      padding: 12px;
  }

  input {
      padding: 8px;
  }

  .login-wrapper {
      padding: 5px;
      height: auto;
      background-size: cover;
  }
}

/* Responsive Design for Small Screens (480px) */
@media (max-width: 480px) {
  .login-container {
      width: 95%;
      max-width: 300px;
      margin: 15px auto;
      padding: 30px;
  }

  h2 {
      font-size: 20px;
  }

  input {
      padding: 7px;
      font-size: 14px;
  }

  .login-wrapper {
      padding: 5px;
      height: auto;
      background-size: cover;
  }
}
